body {
  width: 100%;
  margin: 2px;
}

.container-fluid {
  justify-content: space-around !important;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

div a {
  margin: 3px;
}

#image {
  display: flex;
  padding: 10rem;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.testo1 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.btn {
  background-color: rgb(152, 224, 252);
  color: white;
  border: transparent;
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
}

main {
  padding: 5rem 10rem;
}

.part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.part2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* columns corso */

#columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.check {
  width: 2rem;
}

#base,
#intermedio,
#full {
  width: 20rem;
  transform: skew(-15deg);
  text-align: center;
  height: 20rem;
  padding: 5rem 0;
  margin: 0;
}

#base {
  background-color: darkturquoise;
}
#intermedio {
  background-color: rgb(209, 94, 0);
}

#full {
  background-color: rgb(253, 255, 122);
}

.grayColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgray;
  text-align: left;
  height: 25rem;
  padding: 3rem 1rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem;
}

footer div {
  margin-bottom: 3rem;
}

#vb {
  background-color: rgb(152, 224, 252);
  padding: 2px;
  height: 30px;
  width: 90px;
  border: none;
}

/* desktop */

@media screen and (max-width: 844px) {
  main {
    margin: 1px;
    padding: 1rem;
  }
  .part2 {
    flex-direction: column;
  }
  #columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    text-align: center;
    margin-right: 50vw;
  }

  footer {
    flex-direction: column;
  }
}
